body{
    background-image: url('../assets/bgtexture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
@font-face {
    font-family: 'Fugaz One';
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}
@font-face {
    font-family: 'Montauk Regular';
    src: url(../assets/fonts/Montauk-Regular.otf);
}

/* Navbar Styles - Start */
.nav-padding{
    padding: 0 6rem 0;
    height: 5.75rem;
}
.nav-txt{
    color: #5f002b;
    font-size: 20px;
    font-family: 'Fugaz One';

}

/* Navbar Styles - End */

.home-image{
    width: 100%;
    height: 37.5rem;
    margin-top: 44px;
}

.img-size{
    width: 42.125rem;
    height: 22.844rem;
}

.card-style{
    width: 59.375rem;
    height: 22.844rem;
}
.card-title-style{
    color: #5F002B;
    font-family: 'Fugaz One';
    font-size: 30px;
}

.card-text-style{
    color: #5F002B;
    font-family: 'Montauk Regular';
    font-size: 17px;
}
.footer-text-style{
    color: #5F002B;
    font-family: 'Montauk Regular';
    font-size: 20px;
}

.company-logo-style{
    width: 6.25rem;
    height: 1.975rem;
}


.title-style{
    font-size: 3.125rem;
    color: #5F002B;
    font-family: 'Fugaz One';
}

.hero-style{
    width: 102.5rem;
    margin-top: 80px;
    height: 31.25rem;
}

/* Menu Styles - Start */
.menu-Container{
    height: 5rem;
}
.menu-Title-txt{
    background-color: white;
    height: 100%;
    width:102.5rem;
}
.menu-Title-txt h1{
    font-family: 'Fugaz One';
    color: #5F002B;
    font-size: 50px;
}
hr{
    color: #980051;
    height: 70%;
}
.menu-Choice{
    width: 102.5rem;
    margin: auto;
}
.first-row{
    width: 102.5rem;
}
.Sandwiches-container{
    background-color: white;
    width: 50.75rem;
}
.seafood-container{
    width: 50.75rem;
    height: 100%;
    background-color: white;
}
.grill-container{
    background-color: white;
}
.desserts-container{
    background-color: white;
}
/* Menu Styles - End */