body{
    background-image: url('../assets/bgtexture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
@font-face {
    font-family: 'Fugaz One';
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}
@font-face {
    font-family: 'Montauk Regular';
    src: url(../assets/fonts/Montauk-Regular.otf);
}

/* Navbar Styles - Start */
.nav-padding{
    padding: 0 6rem 0;
    height: 5.75rem;
}
.nav-txt{
    color: #5f002b;
    font-size: 20px;
    font-family: 'Fugaz One';

}

/* Navbar Styles - End */


.title-style{
    font-size: 3.125rem;
    color: #5F002B;
    font-family: 'Fugaz One';
}

/* Menu Styles - Start */
.menu-Container{
    width: 102.5rem;
    height: 5rem;
    background-color: white;
}
/* Menu Styles - Start */